.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131921;
  height: 100vh;
}

.login_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.login_logo:hover {
  transform: translateY(0) scale(1.2);
}

.login_container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  background-color: #fff;
}

.login_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 98%;
}

.login_container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login_signInButton {
  background-color: #44a618;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #131921 #1e2938 #314157;
}

.login_registerButton {
  border-radius: 2px;
  width: 100%;
  height: 42px;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 6px;
  border-color: darkgray;
}

.google-btn {
  width: 100%;
  border-radius: 2px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn-text {
  text-align: center;
  /* float: right; */
  margin: 11px 11px 0 0;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2px;
  background-color: #4285f4;
  padding-top: 10px;
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}

.login_signInButton:hover {
  background-color: #73cf49;
}
